<div class="jumbotron">
	<a href="/post/{{post.id}}-{{post.heading}}">
		<h1 class="h1-responsive">{{post.heading}}</h1>
	</a>
	<p class="lead">{{this.description}}</p>
	<hr class="my-2">
	<p>{{{post.content}}}</p>
	<hr class="my-2">
	<p class="post-meta">Posted by <a href="/?publisher={{post.publisher}}">{{post.publisher}}</a> - {{post.crtdDt}}</p>
</div>